@font-face {
    font-family: 'Quicksand-Regular';
    src: url('Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('Quicksand-SemiBold.ttf');
    font-weight: bold;
}

:root {
  color-scheme: only light;
}

html {
    font-family: Quicksand-Regular;    
    background-color: #f4f4f9;
}

body {    
    background-color: #f4f4f9;
}

main {    
}

a {
    color: #4d5156;
    text-decoration: none;    
    -webkit-tap-highlight-color: transparent;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;        
}

.content {
    height: 100%;    
    max-width: 40vw;            
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

.links {
    margin-left: -12px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    /* background-color: #C9D5C8; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* margin-top: -0.5vh; */

    a {            
      /* margin-bottom: 20px; */
    }
}

footer {
    position: fixed;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    bottom: 0;
    width: 100%;    
    height: 40px;    
    background-color: #f4f4f9;    
}

.middle {
  flex-grow: 1;
}

footer div {
    margin-top: 3px;
}

.left {    
    float:left;
    margin-left: 15px;
}

.right {
    width: 80px;    
    float: right;
    display: flex;
    justify-content: center;
}

body {
  margin: 0;
  padding: 0;  
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #f4f4f9;  
}

.main {
  height: 195vh;
}

.preview {
  position: relative;
  width: calc(65vh * 1270 / 2796);
  height: 80vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.preview .images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.preview .images img.active {
  opacity: 1;
}

.images {
  height: 80%;
  width: 100%;
  position: relative;
}

.controls {
  visibility: hidden;
  position: absolute;
  width: calc(100% - 30px); /* Adjust for padding */
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  padding: 0 15px;
}

.controls button {
  pointer-events: auto;
  background-color: #333;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  opacity: 0.6;
}

.controls button:hover {
  background-color: #555;
  transform: scale(1.1);
}

.controls button:active {
  transform: scale(1);
}

.app {
  width: 100%;  
  display: flex;
  flex-direction: column;
  top: 0px;  
  background-color: #C9D5C8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.app-header {
  width: 100%;
  display: flex;
  margin-top: 0.8vh;
}

.title {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2.5vh;
  color: black;
  font-family: 'Lobster', cursive;
  /* margin-left: 0.8vh; */
}

.logo {  
  width: 30%;    
}

.flags {  
  margin-top: 0px;
  display: flex;
  justify-content: center;
  gap: 10px;  
  width: 100%;    
}

.flags img {
  width: 2vh;
  aspect-ratio: 1.67;
  cursor: pointer;
  /* border-radius: 50%; */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.flags img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#google-play-link-img {
  height: 6.0vh;
  max-height: 44px;
}

#app-store-link-img {
  height: 4.1vh;
  max-height: 30px;
}

#description {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling if not needed */  
  text-align: justify;  

  .links {
    margin-top: 40px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    margin-top: 30px;
  }

  p {
    margin-top: 30px;
  }
}

.hidden {
  visibility: hidden;
}

#pois {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling if not needed */
}

.entry {
  background-color: white;  
  border-radius: 15px;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.entry_title {  
  display: flex;
  /* padding: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  background-color: #C9D5C8;  
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.entry_text {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.information {
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* background-color: #C9D5C8; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.0em;
  }
}

.tabs {
  width: 100%;
  display: flex;
}

.tab-button {
  width: 50%;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background: #678364;
  color: white;
  cursor: pointer;
}

.tab-button:first-child {
  border-top-left-radius: 10px;
}

.tab-button:last-child {
  border-top-right-radius: 10px;
}

.tab-button.active {
  background: #556f53;
}
.tab-content {
  display: none;
  margin-top: 20px;
}
.tab-content.active {
  display: block;
}

.more {
  display: flex;
  align-items: flex-end;
  justify-content: center;  
  flex-grow: 1;
}

/* Style for the button */
.scroll-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #556f53; /* Button color */
  color: white;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow */
  transition: background-color 0.3s;
  font-size: 24px; /* Size for the icon */
}

.scroll-button:hover {
  background-color: #678364; /* Darker shade on hover */
}

.content {
  max-width: 90vw;
}

.center {
  flex-direction: column;
}

.scroll-gradient {
  position: absolute;
  bottom: -87vh;
  width: 90vw;
  height: 60px; /* Adjust as needed */
  pointer-events: none; /* Ignore mouse events */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(201, 213, 200, 1));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}

@media (min-width: 1500px)  {

  .content {
    max-width: 60vw;
  }

  /* .main {
    height: auto;
    margin-top: 20px;
  }  */
}