@font-face {
    font-family: 'Quicksand-Regular';
    src: url('Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('Quicksand-SemiBold.ttf');
    font-weight: bold;
}

:root {
  color-scheme: only light;
}

html {
    font-family: Quicksand-Regular;    
    background-color: #f4f4f9;
}

body {    
    background-color: #f4f4f9;
}

main {    
}

a {
    color: #4d5156;
    text-decoration: none;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.content {
    height: 100%;    
    max-width: 95%;        
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
    color: #4da1aa;
    font-size: xx-large;
    font-weight: bold;
}

.logo {    
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 80%;
}

.links {
    margin-left: -12px;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    height: 40px;    
    background-color: #f4f4f9;    
}

footer div {
    margin-top: 10px;
}

.left {    
    float:left;
    margin-left: 15px;
}

.right {
    width: 80px;    
    float: right;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}

.preview {
  position: relative;
  width: calc(80vh * 1270 / 2796);
  height: 80vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* background-color: #000; */
}

.preview img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.preview img.active {
  opacity: 1;
}

.controls {
  position: absolute;
  width: calc(100% - 30px); /* Adjust for padding */
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  padding: 0 15px;
}

.controls button {
  pointer-events: auto;
  background-color: #333;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  opacity: 0.6;
}

.controls button:hover {
  background-color: #555;
  transform: scale(1.1);
}

.controls button:active {
  transform: scale(1);
}

.app {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.flags {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.flags img {
  width: 20px;
  aspect-ratio: 1.67;
  cursor: pointer;
  /* border-radius: 50%; */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.flags img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}